@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
   font-family: Raleway; 
}

.navbar{
    background-color: #4169E1;
}

.header{
    background-image: url("https://online-puzzle.ru/assets/images/puzzle/devyatyy_val.jpg");
    background-attachment: fixed;
    background-size:cover ;
    background-position: center ;
    
    position: relative;
}

.overlay{
    position: absolute;
    background-color: rgba(105, 105, 105, 0.5);
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
}

.description{
    position: absolute;
    width: 100%;
    top: 35%;
    padding: 2em;
    left: 0%;
    text-align: center;
}
.description h1{
    color: seashell;
    font-size: 4em;
}
.description p{
    color: seashell;
    font-size: 1.5em;
}
.about-container{
    color: rgb(92, 88, 86)! important;
}
.head{
    padding: 10px 20px 20px 20px;
}
.about_s{
    font-size: 1.5em;
    border-left: 5px solid  #4169E1;
}
.our_arts{
    background-color: #4169E1! important;
    color: white;
    margin: 4em 0; 
}
.lid:hover{
    border: 5px solid white;
}
.lids:hover{
    padding: 4px;
    border: 5px solid #4169E1;
}

.item{
    position: relative;
    border: 2px solid white ;
}

.des{
    background-color: cornflowerblue;
    color: cornsilk;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    border-top: 2px solid white ;
}

.item img{
    padding: 2px;
    border: 2px solid cornflowerblue ;
}

.des span{
    font-size: 0.2 em;
}

.fitback{
    background-color: #4169E1! important;
    color: white;
    padding: 4em ; 
}

.fitback h1{
    padding-top:2em ;
}

.one.link:hover{
    color: crimson;
}

.our_arts, .arch,.news,.team,.fitback,.main_us{
	position: relative;
	padding-top: 3em;
}

.round{
    border-radius: 100px;
}